body {
    margin: 0 auto;
}

.block-btn {
    display: block;
    margin: 10px auto;
}

#ContentPane {
    margin-top: 75px;
    max-width: 1000px;
    text-align: center;
}

input[type="text"], input[type="password"]{
    margin: 5px 0;
    padding: 10px;
}

th {
    text-align: center !important;
}

.table {
    border: none !important;
}

select {
    margin: 5px 0;
}